# Flutter/Dart related files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/
.vscode/
*.iml
*.log

# Android related files
**/build/
**/captures/
**/gradle/
**/local.properties
**/gradlew
**/gradlew.bat
**/*.iml
**/*.log

# Exclude all platform-specific files and directories except Android
**/*/*/
!**/android/
