# Exclude all files except Android related files
/*

# Include Android files
!**/android/
!**/android/**/*

# Include necessary Flutter files
!**/lib/
!**/lib/**/*

# Exclude build artifacts and caches
**/build/
**/.dart_tool/
**/.pub/
**/*.iml
**/*.lock
**/*.log
**/*.metadata
**/*.packages
